#!/usr/bin/make -f
#export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export PYBUILD_NAME=iscsi-zfs
export PYBUILD_INSTALL_ARGS=--install-lib=/usr/share/iscsi-zfs/ --install-scripts=/usr/share/iscsi-zfs/

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build
	ronn -r -o . docs/iscsi-zfs.1.ronn
